<div class="row">
	<div class="col-lg-2">
		<%= attachment_image_tag user, :profile_image, format: "jpeg", id: "img_prev", fallback: "no_image.jpg", class: "profile_image", style: " text-align: center;" %>
	</div>

	<div class="col-lg-7">
		<p class="text-right">
			<%= link_to 'profile',edit_user_path(user), class: "btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
		</p>


		<table>
			<tr>
				<th>ユーザー<span class="glyphicon glyphicon-chevron-right"></span></th>
				<th><%= user.name %></th>
			</tr>

			<tr>
				<th>メモ数<span class="glyphicon glyphicon-chevron-right"></span></th>
				<th><%= user.articles.count %></th>
			</tr>
		</table>
	</div>
</div>
