

<div class="about-visual">
    <div class="about-visual-content">
      <!-- pタグ（と文字）を追加 -->
      <p class="about-visual-name">
        エラー解消法を残す。そして、<br>

      </p>
      <p class="about-visual-name">
        エラー原因がわかるプログラマーになる。<br>
      </p>

  </div>
</div>
<div class="about-sub">
	<p class="about-sub-text text-center">
        学んだ言語を使いアウトプットを作成時にエラーが発生した場合に<br>
        過去に同じエラーが発生していないか確認し、<br>
        エラー解消までの時間を少しでも短くすることができます。
      </p>

    <p class="text-center">

      <%= link_to "さぁ、はじめよう！", new_user_registration_path,class: 'btn btn-default sideby btn-lg' %>
  </p>
  </div>


