<% if @model == 'user' %>
  <h3>ユーザー検索 -->'<%= @content %>'</h3>
  <%= render 'users/index', users: @records %>
<% else @model == 'article' %>
  <h3>記事検索 -->'<%= @content %>'</h3>
  <%= render 'articles/index', articles: @records %>
<% end %>