<% if @model == 'user' %>
  <h3>Users search for '<%= @content %>'</h3>
  <%= render 'users/index', users: @records %>
<% else @model == 'article' %>
  <h3>Books search for '<%= @content %>'</h3>
  <%= render 'articles/index', articles: @records %>
<% end %>